*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.row{
	margin-right:0 !important;
	margin-left:0 !important;
}
:root{
	--blue:#250335;
	--purple:#ff087a;;
}
header{
	background-color:var(--blue);
}
.width-head{
	width: 15.666667%!important;
	padding-right:0px!important;
}
.m-left{
	margin-left:11px!important;
}
.mr-none{
	margin-right:0px!important;
}
.ctrl-wd{
	width:auto!important;
}
.text-head{
	font-size:15px;
	color:white;
}
.text-cont{
	font-size:13px;
	color:var(--purple);
	margin:5px 0px;
}
.rhs-bdr{
	border-right: 3px solid #33ec0e;
}
.padd-tb{
	padding:10px 10px;
}
.linear-clr{
	background-color:#9C27B0;
	background-image: linear-gradient(to right, #250335 , #E91E63);
}
.sm{
	padding: 10px;
	color:white;
}
.carousel{
	position:relative;
}
.carousel::after{
	content: "";
    width: 100%;
    background-color: #06060680;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
	left: 0;
}
.d-flex{
	display:flex;
}
.navposition{
	position:fixed!important;
	z-index:2!important;
	width:100%!important;
}
.img-cont{
	width:70px;
	height:auto;
	position: relative;
    top: -8px;
}
.text-1>h1{
	font-size:2rem;
	line-height:1.5;
	color:white;
}
.text-1 span{
	font-size:1rem;
}
.sticky{
	position:fixed;
	top:0;
	width:100%;
	background-color:#2f0443eb
}
/* Feature Box
---------------------*/
.feature-box-1 {
  height:235px;
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #E91E63;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #3f1852;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.section {
    padding: 100px 0;
    position: relative;
}
.section-title {
    padding-bottom: 45px;
}
.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}
.icon-cont{
	width:34px;
	height:auto;
}
/*footer*/
footer{
	background-color:var(--blue);
}
footer>div>div{
	color:white;
}
footer h4{
	font-size:22px;
	margin-left:32px;
	line-height:2;
}
footer a{
	font-size: 14px;
    line-height: 2;
}
.foot-deco{
	width: 10%;
    position: absolute;
    top: -20px;
    background-color: #250335;
    height: 20px;
	
}
footer p::after{
	top: 0;
    width: 0;
    height: 0;
    content: "";
    right: -45px;
    position: absolute;
    border-bottom: 20px solid #250335;
    transition: 500ms all ease;
    border-right: 46px solid transparent;
}
.copyright{
    background-color: #E91E63;
}
.pl-2{
	padding-left:2rem!important;
}
/*about*/

.bg-image::before {
  content: "";
  background-image: url(../img/finalized.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 500px;
  position: absolute;
  z-index: 11111;
  width: 500px;
  height: 120px;
}
.bg-image::after {
  content: "";
  background-image: url(../img/finalized.png);
  background-repeat: no-repeat;
  background-size: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 11111;
  width: 500px;
  height: 120px;
}
.caption{
	padding:70px 120px;
}
.caption h2{
	  font-family: Yeseva One;
	  font-size:40px;
	  text-align:center;
	  font-weight:bold;
	
}
.caption h3{
	  font-family: Yeseva One;
	  font-size:20px;
	  text-align:center;
	  font-weight:bold;
	  letter-spacing: 10px;
}
.caption p{
	  font-family:Yeseva One;
	  font-size:18px;
	  text-align:justify;
}
.bg-image{
	/* background-image:url(../img/finalized.jpg); */
	/* background-size: cover;	 */
	position:relative;
}

/*nav test 01*/
.pd-tb{
	padding:0px 0px!important;
}
.img-cont{
	width:70px
}
.pstn-t{
	position:relative;
    top:18px;
}


.position{
	position: relative;
    top: 2px;
}
.lhs-ps{
	position: relative!important;
    top: -7px!important;
}
.bdr-sty{
	background: linear-gradient(275deg, #e91e63 50%, #e91e6300);
    padding: 3px;
    width: 50%;
    top: 0px;
	position:absolute;
}
.btn-contect{
	color: #fff;
    font-weight: 700;
    position: relative;
    font-family: "Poppins";
    background-color: #e91e63;
	padding: 15px 10px!important;
    margin-top: 2px!important;
	bottom: 4px;
}
.btn-contect::before{
	top: 0;
    width: 0;
    height: 0;
    content: "";
    right: 93px;
    position: absolute;
    border-top: 55px solid #e91e63;
    transition: 500ms all ease;
    border-left: 40px solid transparent;
}
/*media querry*/
@media only screen and (max-width: 1120px){
	.display-n{
		display:none!important;
	}
}
@media only screen and (max-width: 1024px) {
  .caption {
    padding: 70px 10px;
  }
  .bg-image::before {
    left: -30%;
  }
  .bg-image::after {
    right: -33%;
  }
}
@media only screen and (max-width: 990px){
	.bdr-sty{
		display:none;
	}
}
@media only screen and (max-width: 600px) {
  .caption {
    padding: 70px 10px;
  }
  .bg-image::before {
    left: -60%;
  }
  .bg-image::after {
    right: -66%;
  }
}